@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #181c75;
    --secondary-color: #ffffff;
    --accent1-color: #b80000;
    --accent2-color: #004429;

    --heading-font: 'Kaushan Script', Arial;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #181c75;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #004429;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
